:root {
	--foreground-colour: #151515;
	--background-colour: #fff;
	--selection-colour: #d2e9f3;
	--link-colour-default: #2980b9;
	--link-colour-visited: #8e44ad;
	--link-colour-active:  #27ae60;
}
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-colour: #fff;
		--background-colour: #151515;
		--selection-colour: #065273;
		--link-colour-default: #5cbeff;
		--link-colour-visited: #ce65fb;
		--link-colour-active:  #47f390;
	}
}

* { margin: 0; padding: 0; }
body {
	color: var(--foreground-colour);
	background: var(--background-colour);
	font: 100 100%/1.4 -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
	padding: 2em;
}
::selection {
	background: var(--selection-colour);
}
h2, p { margin: 0 0 1em; }
h1 { font-size: 4em; margin: 0 0 .5em; }
h2 {
	font-weight: 100;
	font-size: 1.3em;
	letter-spacing: .02em;
}
h2 a {
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}
h3 { font-size: 3em; }
a         { color: var(--link-colour-default); }
a:visited { color: var(--link-colour-visited); }
a:active  { color: var(--link-colour-active); }

h1 figure {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	vertical-align: text-top;
}

h1 figure path {
	fill: #333;
}
article {
	max-width: 1024px;
	margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
	figure {
		background: #fff;
		border-radius: 50%;
	}
}

@media (max-width: 800px) {
	body { padding: 1em; }
	h1 { font-size: 2.5em; }
	h3 { font-size: 2em; }
}
