:root {
	--foreground-colour: #151515;
	--background-colour: #fff;
	--page-background: linear-gradient(125deg, #ffefba, #ffffff);
	--selection-colour: #d2e9f3;
	--link-colour-default: #2980b9;
	--link-colour-visited: #8e44ad;
	--link-colour-active: #27ae60;
	--figure-background: transparent;
	--font-weight: 100;
	--font-size: 200%;
	--title-font-size: 2em;
	--body-padding: 2em;
}
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-colour: #fff;
		--background-colour: #151515;
		--page-background: linear-gradient(125deg, #0f2027, #203a43, #2c5364);
		--selection-colour: #065273;
		--link-colour-default: #5cbeff;
		--link-colour-visited: #ce65fb;
		--link-colour-active: #47f390;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--figure-background: #fff;
	}
}
@media (prefers-contrast: more) {
	:root {
		--foreground-colour: #000;
		--background-colour: #fff;
		--page-background: #fff;
		--selection-colour: yellow;
		--link-colour-default: blue;
		--link-colour-visited: purple;
		--link-colour-active: green;
	}
	body {
		--font-weight: 300;
	}
}
@media (max-width: 800px) {
	:root {
		--body-padding: 1em;
		--font-size: 2.5em;
		--title-font-size: 1.5em;
	}
}

* {
	margin: 0;
	padding: 0;
}
html {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
body {
	max-height: 100%;
	color: var(--foreground-colour);
	background: var(--background-colour);
	background: var(--page-background);
	font: var(--font-weight) var(--font-size) / 1.4 -apple-system,
		"BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande",
		"Arial", sans-serif;
	padding: var(--body-padding);
}
::selection {
	background: var(--selection-colour);
}
h1 {
	font-size: var(--title-font-size);
	margin: 0 0 0.5em;
}
p {
	margin: 0 0 1em;
}
a {
	color: var(--link-colour-default);
}
a:visited {
	color: var(--link-colour-visited);
}
a:active {
	color: var(--link-colour-active);
}

h1 figure {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	vertical-align: text-top;
	border-radius: 50%;
	background: var(--figure-background);
}

h1 figure path {
	fill: #333;
}
article {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 0 3em;
}
